*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
}

body{
    background-color: hsl(210, 46%, 95%);
}

main{
    height: 515px;
    width: 327px;
    margin: 5.6rem auto 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

#drawers{
    height: 15.5rem;
    width: 100%;
}

#drawers img{
    max-width: 100%;
    margin-top: -15px;
}

#description{
    height: 100%;
    padding: 2.75rem 2.6rem 0 2.4rem;
    background-color: white;
}

h1{
    color: hsl(214, 17%, 51%);
    font-size: 1.2rem;
    letter-spacing: 0.4px;
    line-height: 24px;
    margin-bottom: 1rem;
}

#text p{
    margin-bottom: 2.2rem;
}

p{
    color: hsl(212, 23%, 69%);
    line-height: 20px;
    letter-spacing: 0.1px;
}

#biography{
    display: flex;
}

#biography img{
    height: 42px;
    border-radius: 50%;
    margin-right: 1.2rem;
}

h2{
    color: hsl(217, 19%, 35%);
    margin: 4px auto 2px;
}

button{
    background: url(/images/icon-share.svg) no-repeat;
    background-position: center;
    background-color: hsl(210, 46%, 95%);
    border: none;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    margin: 6px 0 2px 58px;
}

button span {
    display: none;
  }